@import "../../scss/colors.scss";

.equipment-update {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;

  &__before {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    max-width: 378px;
    max-height: 480px;
    width: 100%;
    height: 100%;
    display: flex;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__after {
    display: flex;
    flex-direction: column;
  }

  &__images {
    display: flex;
    column-gap: 20px;

    & .equipment-update__text{
      display: none;
    }
  }

  &__text {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(23, 23, 23, 0.80);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 20px;

    background: linear-gradient(180deg, #000000 10%, #FFFFFF 50%, #000000 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #FFF;

    @media screen and (max-width: 1441px) {
    }
    @media screen and (max-width: 1025px) {
      font-size: 18px;
      margin-top: 15px;
    }
    @media screen and (max-width: 769px) {
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 769px) {
  }
}