@import "../../scss/colors.scss";

.mega-block {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  background: var(--unnamed, #222);
  z-index: 10;
  transform: translateX(-105%);
  transition: 0.3s;
  width: auto;
  overflow: hidden;

  &.active {
    transform: translateX(0);
  }

  &__wrapper {
    width: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px; /* ширина всей полосы прокрутки */
    }

    &::-webkit-scrollbar-track {
      background: var(--unnamed, linear-gradient(225deg, #000 0%, #222 100%));
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #2F2F2F;
      cursor: pointer;
    }

    @media screen and (max-width: 1441px) {
      padding: 50px 0;
      row-gap: 60px;
    }
    @media screen and (max-width: 1275px) {
      padding: 38px 0;
      row-gap: 50px;
    }
    @media screen and (max-width: 1110px) {
      padding: 26px 0;
      row-gap: 40px;
    }
    @media screen and (max-width: 992px) {
      padding: 13px 0;
      row-gap: 20px;
    }
  }

  &__close {
    padding-left: 75px;

    @media screen and (max-width: 1441px) {
      padding-left: 30px;
    }
    @media screen and (max-width: 992px) {
      padding-left: 15px;
    }
  }
}

.mega-menu {
  &__items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }

  &__link {
    color: #FFF;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    padding-top: 9px;
    padding-left: 75px;
    padding-right: 45px;
    padding-bottom: 9px;
    transition: 0.2s;
    position: relative;

    @media screen and (max-width: 1441px) {
      font-size: 16px;
    }
    @media screen and (max-width: 1275px) {
      font-size: 14px;
    }
    @media screen and (max-width: 992px) {
      padding-left: 15px;
      padding-right: 35px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(225deg, #1B1B1B 0%, #FFF 100%);
      transition: 0.3s;
      display: block;
      z-index: -1;
    }

    &:hover {
      color: #020202;

      &:after {
        width: 100%;
      }
    }

    &.active {
      color: #020202;

      &:after {
        width: 100%;
      }

      & .mega-menu__icon {
        & svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__icon {
    display: flex;
    position: absolute;
    top: calc(50% - 5.5px);
    right: 20px;
    width: 15px;
    height: 9px;
    transition: 0.2s;

    @media screen and (max-width: 992px) {
      width: 11px;
      height: 7px;
      top: calc(50% - 3.5px);
      right: 15px;
    }

    & svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__submenu {
    overflow: hidden;
    max-height: 0;
    transition: 0.2s;
  }

  &__subitems {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    //row-gap: 10px;
    //padding-left: 97px;
    padding-top: 5px;
    box-sizing: border-box;
    max-width: 700px;
    width: 100%;
    position: relative;

    @media screen and (max-width: 1441px) {
      max-width: 600px;
    }
    @media screen and (max-width: 1275px) {
      max-width: 500px;
    }
    @media screen and (max-width: 992px) {

      max-width: 435px;
    }
  }

  &__subitem {
    display: flex;
    width: 100%;
  }

  &__sublink {
    color: #FFF;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
    width: 100%;

    @media screen and (max-width: 1441px) {
      font-size: 16px;
    }
    @media screen and (max-width: 1275px) {
      font-size: 14px;
    }
    @media screen and (max-width: 992px) {
      padding-left: 25px;
      padding-right: 10px;
    }
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(225deg, #1B1B1B 0%, #FFF 100%);
      transition: 0.3s;
      display: block;
      z-index: -1;
    }

    &:hover {
      color: #020202;

      &:after {
        width: 100%;
      }
    }
  }
}