@import "../../scss/colors.scss";

.mega-block {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  background: var(--unnamed, #222);
  z-index: 10;
  transform: translateX(-105%);
  transition: 0.3s;
  max-width: 36vw;
  width: 100%;
  overflow: hidden;

  &.active {
    transform: translateX(0);
  }

  &__menu {
    max-width: 700px;
    width: 100%;
    padding-top: 175px;
    padding-left: 75px;
    padding-right: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  @media screen and (max-width: 769px) {
  }
}

.mega-menu {
  &__items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }

  &__link {
    color: #FFF;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    padding: 9px 0;
    transition: 0.2s;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      left: -75px;
      top: 0;
      background: linear-gradient(225deg, #1B1B1B 0%, #FFF 100%);
      transition: 0.3s;
      display: block;
      z-index: -1;
    }

    &:hover {
      color: #020202;

      &:after {
        width: 100vw;
      }
    }

    &.active {
      color: #020202;

      &:after {
        width: 100vw;
      }

      & .mega-menu__icon {
        & svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__icon {
    display: flex;

    & svg {
      transition: 0.2s;
    }
  }

  &__submenu {
    overflow: hidden;
    max-height: 0;
    transition: 0.2s;
  }

  &__subitems {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-left: 15px;
    padding-top: 10px;
    box-sizing: border-box;
  }

  &__subitem {
    display: flex;
  }

  &__sublink {
    color: #FFF;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
  }
}