@import "../../scss/colors.scss";

.stages-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @media screen and (max-width: 1441px) {
    row-gap: 25px;
  }
  @media screen and (max-width: 1025px) {
    row-gap: 20px;
  }
  @media screen and (max-width: 769px) {
    row-gap: 10px;
  }

  & li {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;

    color: #F3F3F3;
    font-size: 20px;
    line-height: 120%;

    @media screen and (max-width: 1441px) {
      row-gap: 25px;
    }
    @media screen and (max-width: 1025px) {
      row-gap: 20px;
    }
    @media screen and (max-width: 769px) {
      row-gap: 10px;
    }
  }

  & img {
    width: 62px;
    height: 68px;
    object-fit: contain;
    margin: 0 auto;


    @media screen and (max-width: 1441px) {
      width: 51px;
      height: 58px;
    }
    @media screen and (max-width: 1025px) {
      width: 41px;
      height: 45px;
    }
  }
}