@import "../../scss/colors.scss";

.images {

  &.d-grid {
    display: grid;
    grid-template-rows: auto;

    &-cols {
      &-2 {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;

        @media screen and (max-width: 769px) {
          grid-template-columns: 1fr;
          grid-row-gap: 15px;
        }
      }
    }

    & img {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &.d-flex {
    display: flex;
    column-gap: 20px;

    &-cols {
      &-1 {
        display: flex;
        justify-content: center;

        & .image{
          max-width: 1040px;
          max-height: 925px;
          width: auto;

        }
      }

      &-2 {
        @media screen and (max-width: 769px) {
          flex-direction: column;
          row-gap: 20px;
        }

        & img {
          width: calc(50% - 10px);

          @media screen and (max-width: 769px) {
            width: 100%;
          }
        }
      }
    }


  }

  & img {
    box-shadow: 0px 0px 5px 0px rgba(55, 55, 55, 0.65), 0px 0px 10px 0px rgba(56, 56, 56, 0.50);
  }

  @media screen and (max-width: 769px) {
  }
}