@import "../../scss/colors";

.page-title {
  color: #F3F3F3;
  text-align: center;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  text-shadow: 0px 2px 7px rgba(28, 28, 28, 0.60), 0px 0px 2px rgba(28, 28, 28, 0.90), 0px 1px 4px #1C1C1C;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 40px;
  margin-top: 60px;

  @media screen and (max-width: 1441px) {
    font-size: 40px;
    padding-bottom: 30px;
    margin-top: 50px;
  }
  @media screen and (max-width: 1025px) {
    font-size: 32px;
    padding-bottom: 25px;
  }
  @media screen and (max-width: 769px) {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 340px) {
    padding-bottom: 10px;
  }

  &:before {
    background: linear-gradient(180deg, rgba(226, 226, 226, 0.00) 20%, rgba(200, 200, 200, 0.5) 200%);
    color: transparent;
    content: attr(data-title);
    width: 100%;
    opacity: .7;
    position: absolute;
    top: -20px;
    transform: rotateX(180deg);
    transform-origin: bottom;
    -webkit-background-clip: text;
    text-shadow: none;
    font-weight: 700;
  }
}
