@import "../../scss/colors.scss";

.hamburger {
  position: relative;
  width: 54px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 12;

  @media screen and (max-width: 1441px) {
    width: 46px;
    height: 36px;
  }
  @media screen and (max-width: 1275px) {
    width: 38px;
    height: 30px;
  }
  @media screen and (max-width: 1110px) {
    width: 28px;
    height: 21px;
  }

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    transition: 0.2s;
    border-radius: 5px;
    background-color: #F3F3F3;

    @media screen and (max-width: 1441px) {
      height: 4px;
    }
    @media screen and (max-width: 1275px) {
      height: 3px;
    }

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: calc(50% - 2.5px);

      @media screen and (max-width: 1441px) {
        top: calc(50% - 2px);
      }
      @media screen and (max-width: 1275px) {
        top: calc(50% - 1.5px);
      }
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
}
